{
  "importOrder": [
    "^node:/(.*)$",
    "<THIRD_PARTY_MODULES>", 
    "^@koine/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderMergeDuplicateImports": true,
  "importOrderBuiltinModulesToTop": true
}
