{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^node:(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@koine/utils(.*)$",
    "^@koine/test(.*)$",
    "^@koine/node(.*)$",
    "^@koine/dom(.*)$",
    "^@koine/browser(.*)$",
    "^@koine/i18n(.*)$",
    "^@koine/api(.*)$",
    "^@koine/react(.*)$",
    "^@koine/next(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
