/I18nEffects.d.ts
/I18nEffects.js
/I18nEffects.mjs
/I18nHeadTags.d.ts
/I18nHeadTags.js
/I18nHeadTags.mjs
/I18nLayout.d.ts
/I18nLayout.js
/I18nLayout.mjs
/I18nLayoutLang.d.ts
/I18nLayoutLang.js
/I18nLayoutLang.mjs
/I18nLayoutRoot.d.ts
/I18nLayoutRoot.js
/I18nLayoutRoot.mjs
/I18nLocaleContext.d.ts
/I18nLocaleContext.js
/I18nLocaleContext.mjs
/I18nMetadataContext.d.ts
/I18nMetadataContext.js
/I18nMetadataContext.mjs
/I18nMetadataProvider.d.ts
/I18nMetadataProvider.js
/I18nMetadataProvider.mjs
/I18nMetadataSetter.d.ts
/I18nMetadataSetter.js
/I18nMetadataSetter.mjs
/I18nRouteContext.d.ts
/I18nRouteContext.js
/I18nRouteContext.mjs
/I18nRouteProvider.d.ts
/I18nRouteProvider.js
/I18nRouteProvider.mjs
/I18nRouteSetter.d.ts
/I18nRouteSetter.js
/I18nRouteSetter.mjs
/I18nTranslateContext.d.ts
/I18nTranslateContext.js
/I18nTranslateContext.mjs
/I18nTranslateProvider.d.ts
/I18nTranslateProvider.js
/I18nTranslateProvider.mjs
/Trans.d.ts
/Trans.js
/Trans.mjs
/TransText.d.ts
/TransText.js
/TransText.mjs
/config.cjs.js
/config.d.ts
/config.js
/config.mjs
/createT.d.ts
/createT.js
/createT.mjs
/defaultI18nMetadata.d.ts
/defaultI18nMetadata.js
/defaultI18nMetadata.mjs
/defaultLocale.d.ts
/defaultLocale.js
/defaultLocale.mjs
/formatElements.d.ts
/formatElements.js
/formatElements.mjs
/formatUrl.d.ts
/formatUrl.js
/formatUrl.mjs
/getI18nDictionaries.d.ts
/getI18nDictionaries.js
/getI18nDictionaries.mjs
/getI18nMetadata.d.ts
/getI18nMetadata.js
/getI18nMetadata.mjs
/getLocale.d.ts
/getLocale.js
/getLocale.mjs
/getT.d.ts
/getT.js
/getT.mjs
/getTo.d.ts
/getTo.js
/getTo.mjs
/i18nPage.d.ts
/i18nPage.js
/i18nPage.mjs
/index.d.ts
/index.js
/index.mjs
/isLocale.d.ts
/isLocale.js
/isLocale.mjs
/locales.d.ts
/locales.js
/locales.mjs
/next-redirects.js
/next-rewrites.js
/pathnameToRouteId.d.ts
/pathnameToRouteId.js
/pathnameToRouteId.mjs
/routes.d.ts
/routes.js
/routes.mjs
/routesError.d.ts
/routesError.js
/routesError.mjs
/routesSlim.d.ts
/routesSlim.js
/routesSlim.mjs
/routesSpa.d.ts
/routesSpa.js
/routesSpa.mjs
/t.d.ts
/t.js
/t.mjs
/tInterpolateParams.d.ts
/tInterpolateParams.js
/tInterpolateParams.mjs
/tPluralise.d.ts
/tPluralise.js
/tPluralise.mjs
/to.d.ts
/to.js
/to.mjs
/toFns.d.ts
/toFns.js
/toFns.mjs
/toFormat.d.ts
/toFormat.js
/toFormat.mjs
/toSpa.d.ts
/toSpa.js
/toSpa.mjs
/translations/en
/translations/it
/types.d.ts
/types.js
/types.mjs
/useI18nSwitch.d.ts
/useI18nSwitch.js
/useI18nSwitch.mjs
/useLocale.d.ts
/useLocale.js
/useLocale.mjs
/useRouteId.d.ts
/useRouteId.js
/useRouteId.mjs
/useT.d.ts
/useT.js
/useT.mjs
/useTo.d.ts
/useTo.js
/useTo.mjs
/useToSpa.d.ts
/useToSpa.js
/useToSpa.mjs
